## encoding: utf-8
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><strong>SOUND</strong> <small>Forums</small></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="https://auth.of-sound-mind.com/">Auth</a></li>
                <li><a href="/unread/">Unread</a></li>
                % if not web.user:
                <li><a href="/p/">Public Forum</a></li>
                % else:
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Official <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/ops/">OP announcements</a></li>
                        <li><a href="/pol/">Policies</a></li>
                        <li><a href="/doc/">Active Doctrines</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Topic <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">General</li>
                        <li><a href="/gd/">General discussion</a></li>
                        <li><a href="/int/">Intel, Politics, and News</a></li>
                        <li><a href="/ser/">Services</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Help</li>
                        <li><a href="/new/">Newbie Questions</a></li>
                        <li><a href="/gi/">Guides and Instructions</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">PVP</li>
                        <li><a href="/fd/">Fitting Discussions</a></li>
                        <li><a href="/dp/">Doctrine Proposals</a></li>
                        <li><a href="/aar/">After Action Reports</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Industry and Trade</li>
                        <li><a href="/ind/">Industry and Trade Discussion</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">PVE</li>
                        <li><a href="/pve/">PvE discussion</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Non-EVE</li>
                        <li><a href="/ned/">Non-EVE Discussions</a></li>
                        <li><a href="/dust/">DUST 514 Discussions</a></li>
                        <li class="divider"></li>
                        <li><a href="/adocs/">Archive</a></li>
                    </ul>
                </li>
                <li><a href="/search">Search</a></li>
                % endif
            </ul>
        
            % if False and web.user:
            <form class="form-inline navbar-form navbar-left" role="search">
                <label for="rgsearch" class="sr-only">Search all forums:</label>
                <input id="rgsearch" type="search" class="form-control" placeholder="Global search.">
            </form>
            % endif
            
            % if web.user:
            <ul class="nav navbar-nav navbar-right alice">
                <li class="dropdown" style="display: inline-block">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-adjust"></i> <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                    <%doc>
                        <li><a href="#" data-theme="custom"><i class="fa fa-circle-o fa-fw"></i>Custom Style</a></li>
                        <li class="divider"></li>
                    </%doc>
                        <li class="dropdown-header">Core Themes</li>
                        <li><a href="#" data-theme="default"><i class="fa fa${'-dot' if not web.user.theme else ''}-circle-o fa-fw"></i>Default (Bright)</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">User Themes</li>
                        <li><a href="#" data-theme="al-dark"><i class="fa fa${'-dot' if web.user.theme == 'al-dark' else ''}-circle-o fa-fw"></i>Altrue (Dark)</a></li>
                        <li><a href="#" data-theme="nj-dark"><i class="fa fa${'-dot' if web.user.theme == 'nj-dark' else ''}-circle-o fa-fw"></i>Nicen Jehr (Dark)</a></li>
                    </ul>
                </li>\
<li class="dropdown" style="display: inline-block">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> ${web.user.character.name} <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Preferences</a></li>
                        <li class="divider"></li>
                        <li><a href="/goodbye">Sign Out</a></li>
                        <li><a href="/switch">Switch Characters…</a></li>
                    </ul>
                </li>
            </ul>
            % else:
            <a href="/authorize/" class="btn btn-default navbar-btn navbar-right"><i class="fa fa-sign-in"></i> Authenticate</a>
            % endif
        </div>
    </div>
</div>
